Assumption: This is not a time series problem. The dates are irrelevant. To be explored more

In [78]:
from RedStockData import merged
import numpy as np
import pandas as pd

In [95]:
# import warnings
# from pandas.core.common import SettingWithCopyWarning
# warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

merged.Day_Avg = 0
price_cols = merged[merged.columns[-6:-2]]
x=0
for i in range(len(price_cols)):
    x+=1
    merged.Day_Avg[i] = format(price_cols.values[i].mean(), '.5f')

Get X and y

In [103]:
merged.head(3)

,date,total_posts,score,awards,authors,threads,clov,sofi,wkhs,amd,gme,x,amc,clne,nio,mu,spce,bb,symbol,open,high,low,close,volume,Day_Avg
0,2014-04-10,19,15,0.0,10,5,0,0,0,0,0,0,0,0,0,0,0,0,gme,23.59,23.640,22.88,22.88,118000,23.24750
1,2014-04-11,65,173,0.0,35,11,0,0,0,0,0,0,0,0,0,0,0,0,gme,22.73,23.710,21.91,23.60,581500,22.98750
2,2014-07-30,20,41,0.0,13,7,0,0,0,0,0,1,0,1,0,0,0,0,gme,22.65,22.759,22.30,22.51,153600,22.55475

In [126]:
X = merged.iloc[:, 1:18] # Excluding Date, from "total_posts" to before "symbol"

y = merged.Day_Avg.values

PCA Model - This is my first step of using Machine learning. There are many ways to go about this, but I'm just trying this way as a first attempt.

In [132]:
from sklearn.decomposition import PCA

pca = PCA(n_components=4)
X_pca = pca.fit_transform(X)
PCA_df = pd.DataFrame(data = X_pca, columns = ['PC1', 'PC2', 'PC3', 'PC4'])
PCA_df["y"] = y
PCA_df.head()

           PC1         PC2       PC3        PC4         y
0 -3708.332098 -656.835331  4.534147  28.547481  23.24750
1 -3545.097969 -624.609211 -2.054066  26.412853  22.98750
2 -3682.177695 -657.478926  6.362985  27.174459  22.55475
3 -3673.561021 -653.076974  5.846454  25.698310  22.80750
4 -3707.852812 -661.018097  4.146595  28.028418  22.83500

In [189]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.3, random_state=2)

In [190]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [191]:
model = model.fit(X_train, y_train)

In [195]:
# Results
print("Coefficients:", model.coef_,
      "\nIntercepts:", model.intercept_,
      "\nModel R^2-Score:", model.score(X_test, y_test))

Coefficients: [ 8.75062056e-06 -6.50330522e-03  5.69990251e-03  5.88201953e-02]
Intercepts: 11.190754044426415
Model R^2-Score: 0.15407796082107883

Discussion point:
1. Should next step be to set off the date of posts and the date of stock price by one? Thoughts?

I didn't really "test" this model because I don't plan on keeping it, just for a first test.