In [2]:
import os
import sys
# //*** Imports and Load Data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import hashlib
import platform
import time

from pmaw import PushshiftAPI


#//*** Use the whole window in the IPYNB editor
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#//*** Maximize columns and rows displayed by pandas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

        
api = PushshiftAPI()

import datetime as dt
before = int(dt.datetime(2021,6,26,0,0).timestamp())
after = int(dt.datetime(2020,12,1,0,0).timestamp())

print(int(time.time()))

subreddits = ["wallstreetbets", "stocks", "wallstreetbetsOGs", "spacs", "investing", "pennystocks", "stockmarket", "options", "robinhoodpennystocks", "wallstreetbetsnew", "smallstreetbets"]
#subreddits = ["stocks", "wallstreetbetsOGs", "spacs", "investing", "pennystocks", "stockmarket", "options", "robinhoodpennystocks", "wallstreetbetsnew", "smallstreetbets"]

1625346941

In [4]:
df = pd.read_csv(".\\stocks\\amc_daily.csv.zip")

df

            date symbol   open   high    low  close    volume
0     2021-06-30    amc  56.00  58.18  54.65  56.68  59020626
1     2021-06-29    amc  59.06  61.00  56.18  56.43  63604135
2     2021-06-28    amc  55.10  59.36  54.33  58.11  99310240
3     2021-06-25    amc  55.75  56.29  52.97  54.06  77596927
4     2021-06-24    amc  57.98  58.76  55.66  56.70  80351219
...          ...    ...    ...    ...    ...    ...       ...
1891  2013-12-24    amc  19.74  19.82  19.50  19.53    213700
1892  2013-12-23    amc  19.79  19.99  19.50  19.74    698100
1893  2013-12-20    amc  19.65  19.77  19.40  19.68    737100
1894  2013-12-19    amc  18.90  19.49  18.81  19.49   1605400
1895  2013-12-18    amc  19.18  19.79  18.90  18.90   5457200

[1896 rows x 7 columns]