In [1]:
import os
import sys
# //*** Imports and Load Data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import hashlib
import platform
import time

#//*** Use the whole window in the IPYNB editor
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#//*** Maximize columns and rows displayed by pandas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)


#subreddits = ["wallstreetbets", "stocks", "wallstreetbetsOGs", "spacs", "investing", "pennystocks", "stockmarket", "options", "robinhoodpennystocks", "wallstreetbetsnew", "smallstreetbets"]
#subreddits = ["stocks", "wallstreetbetsOGs", "spacs", "investing", "pennystocks", "stockmarket", "options", "robinhoodpennystocks", "wallstreetbetsnew", "smallstreetbets"]

In [55]:
input_file3 = "./ignore_folder/processed_reddit_v4_amc_1min_csv.zip"
input_filename = "./ignore_folder/1min_amc_combined.csv.zip"
#big_df = pd.read_pickle(input_file)
big_df = pd.read_csv(input_filename)
big_df['time'] = pd.to_datetime(big_df['time'])
big_df.head(20)

,body,time,open,high,low,close,volume
0,Index fund tracks the performance of an stock ...,2019-07-24 09:00:00,4.0900,4.0900,4.0900,4.0900,406
1,It’s a combination of options but I made big o...,2019-07-24 09:35:00,4.1400,4.1500,4.1300,4.1500,10116
2,Idk about you but I know several people with H...,2019-07-24 09:36:00,4.1400,4.1700,4.1385,4.1700,16449
3,Thanks.. Will check them out,2019-07-24 09:37:00,4.1700,4.1800,4.1540,4.1750,15605
4,I'm waiting until Monday to sell a covered cal...,2019-07-24 09:40:00,4.1900,4.1950,4.1700,4.1800,42314
5,What signs do you see for a 10-15% swing ?,2019-07-24 09:42:00,4.1600,4.1600,4.1500,4.1550,19167
6,"That makes sense, thank you. That still leaves...",2019-07-24 09:44:00,4.1400,4.1401,4.1400,4.1400,1209
7,Sept 20 $220 calls. When I sell depends on the...,2019-07-24 09:45:00,4.1400,4.1450,4.1400,4.1450,7079
8,Haven’t bought anything recently the only thin...,2019-07-24 09:46:00,4.1450,4.1500,4.1400,4.1450,6709
9,I believe TSLA is undervalued due to the miss ...,2019-07-24 09:52:00,4.1450,4.1450,4.1200,4.1200,25399
10,"Best way to learn is look at option chains, th...",2019-07-24 09:53:00,4.1250,4.1250,4.1100,4.1150,19688
11,Thanks. Ya I saw that study. The methodology i...,2019-07-24 09:56:00,4.1300,4.1375,4.1300,4.1300,6201
12,They are smarter it will take time and Brazil ...,2019-07-24 09:58:00,4.1250,4.1350,4.1250,4.1350,9593
13,Options school? What was your curriculum in so...,2019-07-24 10:01:00,4.1300,4.1400,4.1300,4.1400,1941
14,Have you been to Texas? Most of us live in the...,2019-07-24 10:04:00,4.1500,4.1500,4.1500,4.1500,1352
15,"I’ll be blown away if they fill. If they do, y...",2019-07-24 10:13:00,4.1700,4.1700,4.1550,4.1550,34247
16,Personally i never do market price. Its just t...,2019-07-24 10:15:00,4.1500,4.1550,4.1500,4.1550,1501
17,Uhh. Why do you think you know a pilots job? L...,2019-07-24 10:16:00,4.1600,4.1600,4.1600,4.1600,170
18,I was just about to post this. I’m in at .33,2019-07-24 10:17:00,4.1513,4.1513,4.1500,4.1500,1110
19,GDP goes up. GDP goes down. A principle in eco...,2019-07-24 10:18:00,4.1545,4.1545,4.1545,4.1545,407

In [56]:
stock_df = pd.read_csv("./stocks/amc_1min.csv.zip")
stock_df['time'] = pd.to_datetime(stock_df['time'])
stock_df

                      time       open       high        low      close  volume
0      2021-07-12 20:00:00  41.250000  41.340000  41.250000  41.280000   11989
1      2021-07-12 19:59:00  41.250000  41.280000  41.250000  41.250000    8974
2      2021-07-12 19:58:00  41.330000  41.330000  41.250000  41.250000   14056
3      2021-07-12 19:57:00  41.270000  41.350000  41.250000  41.330000    6832
4      2021-07-12 19:56:00  41.250000  41.290000  41.220000  41.290000   10274
...                    ...        ...        ...        ...        ...     ...
292740 2019-07-24 09:35:00   9.968758   9.979624   9.951029   9.951029    1734
292741 2019-07-24 09:34:00  10.003453  10.017751   9.874776   9.960561   67195
292742 2019-07-24 09:33:00   9.939591   9.998688   9.935302   9.998688   24294
292743 2019-07-24 09:32:00   9.922435   9.951029   9.922435   9.922435    3394
292744 2019-07-24 09:31:00   9.846181   9.912903   9.846181   9.912903   23448

[292745 rows x 6 columns]

In [58]:
start_time = time.time()

print("Merging")
#tdf = pd.merge(big_df,stock_df,on='time')
tdf = pd.concat([big_df,stock_df])
print(f"Merged {round(time.time()-start_time,2)}s ")

Merging
Merged 0.02s

,body,time,open,high,low,close,volume
0,Index fund tracks the performance of an stock ...,2019-07-24 09:00:00,4.090000,4.090000,4.090000,4.090000,406
1,It’s a combination of options but I made big o...,2019-07-24 09:35:00,4.140000,4.150000,4.130000,4.150000,10116
2,Idk about you but I know several people with H...,2019-07-24 09:36:00,4.140000,4.170000,4.138500,4.170000,16449
3,Thanks.. Will check them out,2019-07-24 09:37:00,4.170000,4.180000,4.154000,4.175000,15605
4,I'm waiting until Monday to sell a covered cal...,2019-07-24 09:40:00,4.190000,4.195000,4.170000,4.180000,42314
...,...,...,...,...,...,...,...
292740,NaN,2019-07-24 09:35:00,9.968758,9.979624,9.951029,9.951029,1734
292741,NaN,2019-07-24 09:34:00,10.003453,10.017751,9.874776,9.960561,67195
292742,NaN,2019-07-24 09:33:00,9.939591,9.998688,9.935302,9.998688,24294
292743,NaN,2019-07-24 09:32:00,9.922435,9.951029,9.922435,9.922435,3394
292744,NaN,2019-07-24 09:31:00,9.846181,9.912903,9.846181,9.912903,23448

In [65]:
tdf.sort_values('time',inplace=True)
tdf

tdf.drop_duplicates(subset='time',inplace=True)

tdf['body'] = tdf['body'].replace(np.nan,"  ")
tdf

,body,time,open,high,low,close,volume
0,Index fund tracks the performance of an stock ...,2019-07-24 09:00:00,4.090000,4.090000,4.090000,4.090000,406
292744,,2019-07-24 09:31:00,9.846181,9.912903,9.846181,9.912903,23448
292743,,2019-07-24 09:32:00,9.922435,9.951029,9.922435,9.922435,3394
292742,,2019-07-24 09:33:00,9.939591,9.998688,9.935302,9.998688,24294
292741,,2019-07-24 09:34:00,10.003453,10.017751,9.874776,9.960561,67195
...,...,...,...,...,...,...,...
4,,2021-07-12 19:56:00,41.250000,41.290000,41.220000,41.290000,10274
3,,2021-07-12 19:57:00,41.270000,41.350000,41.250000,41.330000,6832
2,,2021-07-12 19:58:00,41.330000,41.330000,41.250000,41.250000,14056
1,,2021-07-12 19:59:00,41.250000,41.280000,41.250000,41.250000,8974
0,,2021-07-12 20:00:00,41.250000,41.340000,41.250000,41.280000,11989

In [45]:
big_df

,created_utc,body,time,open,high,low,close,volume
0,2019-07-24 09:00:25,Index fund tracks the performance of an stock ...,2019-07-24 09:00:00,4.09,4.09,4.09,4.09,406
1,2019-07-24 09:07:24,No he’s just being sarcastic,2019-07-24 09:00:00,4.09,4.09,4.09,4.09,406
2,2019-07-24 09:08:21,I was in contact with Schwab and they weren't ...,2019-07-24 09:00:00,4.09,4.09,4.09,4.09,406
3,2019-07-24 09:11:00,Reelection is never a concern for the communis...,2019-07-24 09:00:00,4.09,4.09,4.09,4.09,406
4,2019-07-24 09:13:45,"For American brokerages, up to $500,000 are SI...",2019-07-24 09:00:00,4.09,4.09,4.09,4.09,406
...,...,...,...,...,...,...,...,...
4,NaN,NaN,2021-07-12 19:56:00,41.25,41.29,41.22,41.29,10274
3,NaN,NaN,2021-07-12 19:57:00,41.27,41.35,41.25,41.33,6832
2,NaN,NaN,2021-07-12 19:58:00,41.33,41.33,41.25,41.25,14056
1,NaN,NaN,2021-07-12 19:59:00,41.25,41.28,41.25,41.25,8974
0,NaN,NaN,2021-07-12 20:00:00,41.25,41.34,41.25,41.28,11989

In [29]:
print(len(big_df))
big_df = big_df.drop_duplicates(subset ="time",keep = False, inplace = True)
big_df

4647827