In [21]:
import os
import sys
# //*** Imports and Load Data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import hashlib
import platform
import time

#//*** Use the whole window in the IPYNB editor
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#//*** Maximize columns and rows displayed by pandas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)


#subreddits = ["wallstreetbets", "stocks", "wallstreetbetsOGs", "spacs", "investing", "pennystocks", "stockmarket", "options", "robinhoodpennystocks", "wallstreetbetsnew", "smallstreetbets"]
#subreddits = ["stocks", "wallstreetbetsOGs", "spacs", "investing", "pennystocks", "stockmarket", "options", "robinhoodpennystocks", "wallstreetbetsnew", "smallstreetbets"]

In [22]:
import os
path =f'./data/ag'
list_of_files = []

ag_df = pd.DataFrame()


for root, dirs, files in os.walk(path):
    for file in files:
        list_of_files.append(os.path.join(root,file).replace("\\","/"))
for name in list_of_files:
    ag_df = pd.concat([ag_df,pd.read_csv(name)])

In [23]:
ag_df = ag_df.sort_values('date')
ag_df

,date,total_posts,tfidf,score,awards,authors,threads,clov,sofi,wkhs,amd,gme,x,amc,clne,nio,mu,spce,bb
0,2012-04-11,17,"(0, 449455)\t0.19297662695869383\n (0, 2429...",28,0.0,12,1,0,0,0,0,0,0,0,0,0,0,0,0
0,2012-04-11,17,"(0, 449455)\t0.19297662695869383\n (0, 2429...",28,0.0,12,1,0,0,0,0,0,0,0,0,0,0,0,0
0,2012-04-12,1,"(0, 449455)\t0.19297662695869383\n (0, 2429...",1,0.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
0,2012-04-12,1,"(0, 449455)\t0.19297662695869383\n (0, 2429...",1,0.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
0,2012-04-13,2,"(0, 449455)\t0.19297662695869383\n (0, 2429...",2,0.0,2,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2021-06-26,6848,"(0, 418755)\t0.9155295562090381\n (0, 66200...",33891,38.0,3758,623,23,14,20,22,153,39,158,6,12,6,47,35
0,2021-06-27,8054,"(0, 418755)\t0.9155295562090381\n (0, 66200...",41278,52.0,4412,683,41,18,24,13,164,30,157,13,8,4,44,24
0,2021-06-28,10927,"(0, 418755)\t0.9155295562090381\n (0, 66200...",46375,64.0,4959,754,19,201,31,38,258,32,169,12,52,7,21,17
0,2021-06-29,11201,"(0, 418755)\t0.9155295562090381\n (0, 66200...",57036,72.0,5289,787,43,204,27,95,164,44,296,12,39,6,31,7
0,2021-06-30,3998,"(0, 418755)\t0.9155295562090381\n (0, 66200...",19233,30.0,2207,406,17,26,9,3,109,10,155,1,7,1,2,6

In [24]:
output_filename = "./data/processed_reddit_basic_v3_tfidf.csv.zip"

#//*** Write File to disk
ag_df.to_csv(output_filename,compression="zip",index=False)

In [20]:
df = pd.read_csv(output_filename)
print(df)

           date  total_posts  \
0    2012-04-11           17
1    2012-04-12            1
2    2012-04-13            2
3    2012-04-16           13
4    2012-05-02           44
..          ...          ...
745  2020-07-29         8229
746  2020-07-30         8726
747  2020-07-31         7676
748  2020-08-01         6411
749  2020-08-02         6124

                                                 tfidf  score  awards  \
0      (0, 449455)\t0.19297662695869383\n  (0, 2429...     28     0.0
1      (0, 449455)\t0.19297662695869383\n  (0, 2429...      1     0.0
2      (0, 449455)\t0.19297662695869383\n  (0, 2429...      2     0.0
3      (0, 449455)\t0.19297662695869383\n  (0, 2429...     20     0.0
4      (0, 449455)\t0.19297662695869383\n  (0, 2429...    117     0.0
..                                                 ...    ...     ...
745    (0, 449455)\t0.19297662695869383\n  (0, 2429...  15684     9.0
746    (0, 449455)\t0.19297662695869383\n  (0, 2429...  16956    10.0
747    (0, 449455)\t0.19297662695869383\n  (0, 2429...  14308    10.0
748    (0, 449455)\t0.19297662695869383\n  (0, 2429...   7760    13.0
749    (0, 449455)\t0.19297662695869383\n  (0, 2429...   9082     3.0

     authors  threads  clov  sofi  wkhs  amd  gme   x  amc  clne  nio  mu  \
0         12        1     0     0     0    0    0   0    0     0    0   0
1          1        1     0     0     0    0    0   0    0     0    0   0
2          2        1     0     0     0    0    0   0    0     0    0   0
3          8        1     0     0     0    0    0   0    0     0    0   0
4         11        6     0     0     0    0    0   0    0     0    0   0
..       ...      ...   ...   ...   ...  ...  ...  ..  ...   ...  ...  ..
745     4327     1215     0     0     4  131    0  28    5     0    9   4
746     4691     1238     0     0     4   72    0  25    3     0   14   2
747     4234     1084     0     0     3   42    0  33    0     0    9   1
748     3403      887     0     1     1   37    0  28    1     0    8   1
749     3270      794     0     0     3   98    0  19    1     0    3   1

     spce  bb
0       0   0
1       0   0
2       0   0
3       0   0
4       0   0
..    ...  ..
745     8   1
746     4   1
747    11   2
748     7   2
749     6   1

[750 rows x 19 columns]