In [1]:
#//*** Collects pre-sorted Comments
#//*** Cleans Comments
#//*** Runs tfidf
#//*** Perform feature reduction on tfidf using Truncated SVD, preservering around 98% of variance. Cuts the Columns down from 200k+ to 6000
#//*** Saves the Truncated SVD for modeling
import os
import sys
import time
from datetime import date
from datetime import datetime
import time
import json
import platform

import stoneburner
#//*** Custom Functions:
#//*** mr_clean_text(input_series)
#//*** tokenize_series(input_series)
#//*** remove_stop_words(input_series)

# //*** Imports and Load Data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#//*** Use the whole window in the IPYNB editor
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
#subreddits = ["wallstreetbets", "stocks", "wallstreetbetsOGs", "spacs", "investing", "pennystocks", "stockmarket", "options", "robinhoodpennystocks", "wallstreetbetsnew", "smallstreetbets"]
filepath = "./data/"
#filename_suffix = "_comments.csv.zip"
#//*** Maximize columns and rows displayed by pandas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

In [7]:
#//*** Path to file aggregate
input_filename = "./data/processed_reddit_v4_1min.csv.zip"
input_filename = "./ignore_folder/processed_reddit_v4_1min_amc_stock_comments.pkl"
#output_filename = './ignore_folder/tsvd_model_ready_1min.csv.zip'

raw_df = pd.read_pickle(input_filename)
#//*** How many columns to pre
offset_target = "1"


raw_df

,time,open,high,low,close,volume,token
0,2019-07-24 09:00:00,4.09,4.090,4.0900,4.090,406,"[index, fund, tracks, performance, stock, mark..."
11,2019-07-24 09:35:00,4.14,4.150,4.1300,4.150,10116,"[combination, options, made, big, some, crmd, ..."
12,2019-07-24 09:36:00,4.14,4.170,4.1385,4.170,16449,"[idk, you, know, several, people, hybrids, new..."
13,2019-07-24 09:37:00,4.17,4.180,4.1540,4.175,15605,"[thanks, check, out]"
14,2019-07-24 09:40:00,4.19,4.195,4.1700,4.180,42314,"[im, waiting, monday, sell, covered, call, im,..."
...,...,...,...,...,...,...,...
4355042,2021-06-30 19:19:00,214.78,214.780,214.7800,214.780,100,"[always, possible, like, give, companies, cred..."
4355055,2021-06-30 19:40:00,214.80,214.800,214.8000,214.800,176,"[business, china, jaded, money, theres, one, t..."
4355064,2021-06-30 19:54:00,214.34,214.340,214.3200,214.320,811,"[automatically, downvoted, image, alone, then,..."
4355065,2021-06-30 19:55:00,214.15,214.150,214.0000,214.000,1499,"[how, get, 12, 000, lost, these, fools, cost, ..."
4355068,2021-06-30 19:59:00,214.50,214.500,214.5000,214.500,134,"[took, 5, months, squeeze, dividend, announced..."

In [8]:
stocks_df = pd.read_csv("./stocks/amc_1min.csv.zip")
stocks_df.sort_values('time', inplace=True, ignore_index=True)
tdf = pd.concat([raw_df,stocks_df])
tdf.drop_duplicates(subset='time', keep=False,inplace=True)
tdf.sort_values('time', inplace=True, ignore_index=True)


tdf['tfidf'] = raw_df['token'].apply(lambda x: ' '.join(x))
tdf['tfidf'] = tdf['tfidf'].fillna(" ")
tdf['token'] = tdf['token'].replace(np.nan,"_____")
#del tdf['token']
tdf

,time,open,high,low,close,volume,token,tfidf
0,2019-07-24 09:00:00,4.090000,4.090000,4.090000,4.090000,406,"[index, fund, tracks, performance, stock, mark...",index fund tracks performance stock market ind...
1,2019-07-24 09:31:00,9.846181,9.912903,9.846181,9.912903,23448,_____,
2,2019-07-24 09:32:00,9.922435,9.951029,9.922435,9.922435,3394,_____,
3,2019-07-24 09:33:00,9.939591,9.998688,9.935302,9.998688,24294,_____,
4,2019-07-24 09:34:00,10.003453,10.017751,9.874776,9.960561,67195,_____,
...,...,...,...,...,...,...,...,...
127120,2021-07-12 19:56:00,41.250000,41.290000,41.220000,41.290000,10274,_____,im looking viac looks beaten ive also waiting ...
127121,2021-07-12 19:57:00,41.270000,41.350000,41.250000,41.330000,6832,_____,
127122,2021-07-12 19:58:00,41.330000,41.330000,41.250000,41.250000,14056,_____,
127123,2021-07-12 19:59:00,41.250000,41.280000,41.250000,41.250000,8974,_____,good you worries it tanking the presentations na
127124,2021-07-12 20:00:00,41.250000,41.340000,41.250000,41.280000,11989,_____,yes was

In [9]:
#//*** Build Word Frequencies
word_freq = {}

for row in tdf['token']:
    
    if row == "_____":
        continue
    
    for word in row:
        if word in word_freq.keys():
            word_freq[word] += 1
        else:
            word_freq[word] = 1

#//*** Sort Dictionary by values. Helpful for exploration
#marklist=sorted((value, key) for (key,value) in word_freq.items())
#sortdict=dict([(k,v) for v,k in marklist])

#//*** Generate a list of stop words
filter_words = ["_____"]

for word, freq in word_freq.items():
    if freq < 10:
        filter_words.append(word)
        
print("Total Unique Words: ",len(word_freq))     
print("Words used < 10 times: ",len(filter_words))

Total Unique Words:  93299
Words used < 10 times:  80103

In [10]:
#//************************************************
#//*** Clean text body
#//************************************************

#raw_df['token'] = stoneburner.remove_stop_words(stoneburner.tokenize_series(stoneburner.mr_clean_text(raw_df['body'],{"remove_empty":False})))
print("Done")

#//*** Detokenize the clean column as tfidf
tdf['tfidf'] = raw_df['token'].apply(lambda x: ' '.join(x))
tdf['tfidf'] = tdf['tfidf'].fillna(" ")

del raw_df

Done

In [11]:
#//*** Build tfidf
from sklearn.feature_extraction.text import TfidfVectorizer

#loop_list.append(tfidf.fit_transform(input_df['tfidf']))
tfidf_matrix = []
tfidf_list = []
tfidf = TfidfVectorizer(stop_words='filter_words')

print("Starting tfidf....")
start_time = time.time()
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(tdf['tfidf'])


print(f"Built: {round(time.time()-start_time,2)}")

print(tfidf_matrix)
print

Starting tfidf....
Built: 1.43
  (0, 20748)	0.09198608021500064
  (0, 28112)	0.0666530687061076
  (0, 7980)	0.05569028332511497
  (0, 32342)	0.05077676694519475
  (0, 4257)	0.05864966515936296
  (0, 39245)	0.06418612880379934
  (0, 35213)	0.04978620209504083
  (0, 39322)	0.09936612963133123
  (0, 30722)	0.05534818090798994
  (0, 26733)	0.041406572517279076
  (0, 36027)	0.04522560310082354
  (0, 25154)	0.051448545856500855
  (0, 28469)	0.05778449460772951
  (0, 43243)	0.0398230748007572
  (0, 24290)	0.036175554761458846
  (0, 16628)	0.05347026933115812
  (0, 14479)	0.08531992612342328
  (0, 36569)	0.05183828022369823
  (0, 13800)	0.05926027482255534
  (0, 8567)	0.07176472930945256
  (0, 8416)	0.038520928665295
  (0, 15075)	0.04098902664903851
  (0, 38754)	0.04114577443041474
  (0, 23040)	0.05206010014106175
  (0, 24809)	0.04776696179119823
  :	:
  (127120, 38621)	0.1393339423093076
  (127120, 24689)	0.14527330375056338
  (127120, 5145)	0.1279592501031661
  (127120, 42080)	0.1413645178616529
  (127120, 36157)	0.14124732813230617
  (127120, 31061)	0.14596822121426084
  (127120, 23044)	0.13629065254017098
  (127120, 18233)	0.12899417810878056
  (127120, 24684)	0.1383592947522706
  (127120, 30549)	0.18637290781677598
  (127120, 41771)	0.1703344066649757
  (127120, 21672)	0.21702737736749078
  (127120, 19096)	0.2305963529074131
  (127120, 34703)	0.12399941949999782
  (127120, 8432)	0.13622665907233422
  (127123, 31007)	0.5542540092589248
  (127123, 38111)	0.452079114268217
  (127123, 42718)	0.45291925233814884
  (127123, 19399)	0.24680205247499357
  (127123, 43211)	0.20872913182540617
  (127123, 22927)	0.22019757143086635
  (127123, 26917)	0.3144700500520775
  (127123, 38592)	0.17729532453525004
  (127124, 43123)	0.7542204803083281
  (127124, 41892)	0.6566212508619218

In [12]:
#//*** Remove Uneeded columns

#//*** Separate the time into a separate series
print("Removing uneeded columns...")
#//*** Remove uneeded columns
for col in ['body','token','tfidf']:
    if col in tdf.columns:
        del tdf[col]

tdf

Removing uneeded columns...

,time,open,high,low,close,volume
0,2019-07-24 09:00:00,4.090000,4.090000,4.090000,4.090000,406
1,2019-07-24 09:31:00,9.846181,9.912903,9.846181,9.912903,23448
2,2019-07-24 09:32:00,9.922435,9.951029,9.922435,9.922435,3394
3,2019-07-24 09:33:00,9.939591,9.998688,9.935302,9.998688,24294
4,2019-07-24 09:34:00,10.003453,10.017751,9.874776,9.960561,67195
...,...,...,...,...,...,...
127120,2021-07-12 19:56:00,41.250000,41.290000,41.220000,41.290000,10274
127121,2021-07-12 19:57:00,41.270000,41.350000,41.250000,41.330000,6832
127122,2021-07-12 19:58:00,41.330000,41.330000,41.250000,41.250000,14056
127123,2021-07-12 19:59:00,41.250000,41.280000,41.250000,41.250000,8974
127124,2021-07-12 20:00:00,41.250000,41.340000,41.250000,41.280000,11989

In [17]:
tdf = pd.concat([tdf,tfidf_matrix.toarray()],axis=1)

MemoryError: Unable to allocate 41.1 GiB for an array with shape (127125, 43418) and data type float64

In [ ]:
"""
#//*** Move this to modeling

input_filename = "./ignore_folder/processed_reddit_v4_60min.pkl.zip"
print("Building Target Offset Columns...")
#//*** Build the target variables and intervals of stock prices. This is a single value determined by target)offset

#//*** create a list of nan values of x length
nan_list = list(np.empty( offset_target )* np.nan )

#//*** Create target variable Price which is stocks + x columns in advance
#//*** Takes the closing price starting at x and gets the remainder, this generates the offset
#//*** nan_list fills the missing x values with nans
raw_df[f"close_{offset_target}"] = list(raw_df['close'][offset_target:]) + nan_list 
raw_df    
#start_time = time.time()
#print("Merging...")
##//*** Combine the tfidf sparse array with the stock values
#combined_df = pd.concat([raw_df,pd.DataFrame(tfidf_matrix.toarray())], axis=1)
#print (f"Done: {round(time.time()-start_time,2)}s")
"""
print()

In [ ]:
#training_filepath = "./ignore_folder/tsvd_model_ready_60min.csv.zip"
#stock_filepath =  "./ignore_folder/processed_reddit_v4_60min.pkl.zip"
offset_target = 1

start_time = time.time()
#print(f"Reading Stocks: {stock_filepath}")
#stock_df = pd.read_pickle(stock_filepath)

print(f"Building Time Series")
#//*** Peel off Time. Used for graphing
#time_series = tdf['time']

#print(f"Cleaning Columns...")
#//*** Remove uneeded columns
#for col in ['time','open','high','low','body']:
#    if col in tdf.columns:
#        del tdf[col]

print("Building Target Offset Columns...")
#//*** Build the target variables and intervals of stock prices. This is a single value determined by target)offset

#//*** create a list of nan values of x length
nan_list = list(np.empty( offset_target )* np.nan )

#//*** Create target variable Price which is stocks + x columns in advance
#//*** Takes the closing price starting at x and gets the remainder, this generates the offset
#//*** nan_list fills the missing x values with nans
#target = list(stock_df['close'][offset_target:]) + nan_list 

print(f"Check Stock Columns are aligned with offset and time")
#//*** Temporarily merge stock_df, time_series, and target series. 
#//*** Make sure everything is aligning correctly.
#temp_df = pd.concat([pd.DataFrame(time_series),pd.DataFrame(target),stock_df],axis=1)
#print(temp_df.head(10))
#print(temp_df.tail(10))

print(f"Building Combined df for training")
tdf = pd.concat([tdf,tfidf_matrix.toarray()],axis=1)

#//*** Delete unused variables to free up memory
try:
    
    del temp_df
    del stock_df
except:
    print()
print (f"Data is training ready: {round(time.time()-start_time,2)}s")

tdf

In [ ]:
#//*** Build TruncatedSVD

#from sklearn.decomposition import PCA
#from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import MinMaxScaler

from sklearn.decomposition import TruncatedSVD

start_time = time.time()
print(f"Begin Truncated SVD ")


#//*** Set the number of components to 6000. This is generating 98% variance capture
#//*** 60min data set took around 25minutes to build
tsvd = TruncatedSVD(6000)
#tsvd = TruncatedSVD(1000)
#tsvd = TruncatedSVD(1000)
tsvd_df = pd.DataFrame(tsvd.fit_transform(tfidf_matrix))
print(tsvd.explained_variance_ratio_.sum())

print (f"Truncated SVD Done: {round(time.time()-start_time,2)}s")

#//*** Write Truncated SVD to disk
tsvd_df.to_csv(output_filename, compression='zip', index=False)

In [ ]:
#//****1k PCA - .45
#//****100 PCA = .13
pca.explained_variance_ratio_.sum()

In [ ]:
import pickle 
#//*** Write the tsvd object to file, in case it's needed for additional analysis
outfile = open('./data/tsvd/truncatedSVD_60min.pkl.zip','wb')
pickle.dump(tsvd,outfile)
outfile.close()

In [ ]:
import sys
sys.getsizeof(combined_df)/1000000

In [ ]:
import time
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score

In [ ]:
#//*** set the training columns to use everyting except time
predict_col = 'close_1'
train_cols = combined_df.columns[1:]
train_cols = ['close','volume']

x_train = combined_df[train_cols][:1000]
y_train = target_df[predict_col][:1000]
x_test = combined_df[train_cols][1001:1100]
y_test = target_df[predict_col][1001:1100]
x_train

In [ ]:
start_time = time.time()
print("Regressing")
regr = MLPRegressor(max_iter=500).fit(x_train,y_train)
#scores = cross_val_score(regr, x_train, y_train, cv=5)
#//*** Score the model
score = regr.score(x_train, y_train)
result = regr.predict(x_test)

mse = mean_squared_error(y_test, result)
r2 = r2_score(y_test,result)
#//*** Root Mean squared Error
rmse = sqrt(mse)
print(f"Complete: {round(time.time()-start_time,2)}" )

print(f"rmse: {rmse}")
print(f"r2: {r2}")

PCA Tutorial: https://towardsdatascience.com/pca-using-python-scikit-learn-e653f8989e60

In [ ]:
print(f"Begin Train Cols ")
train_cols = combined_df.columns[1:]
predict_col = 'close_1'
print(f"Begin Slice ")

x_train = combined_df[train_cols][:1000]
y_train = target_df[predict_col][:1000]
x_test = combined_df[train_cols][1001:1013]
y_test = target_df[predict_col][1001:1013]

start_time = time.time()
print(f"Begin PCA ")

# %%
from sklearn.decomposition import PCA

scaler = MinMaxScaler()

pca = PCA(n_components=3)
#X = pca.fit_transform( scaler.fit_transform(x_train) ,y_train)
x_train = pd.DataFrame(pca.fit_transform( x_train ,y_train))
x_test = pd.DataFrame(pca.fit_transform( x_test ,y_train))

print("Explained Variance Ratio")
for x in range(len(pca.explained_variance_ratio_)):
    print(x, pca.explained_variance_ratio_[x])
print (f"PCA Done: {round(time.time()-start_time,2)}s")

In [ ]:
start_time = time.time()
print("Regressing")
regr = MLPRegressor(max_iter=1000).fit(x_train,y_train)
#scores = cross_val_score(regr, x_train, y_train, cv=5)
#//*** Score the model
score = regr.score(x_train, y_train)
result = regr.predict(x_test)

mse = mean_squared_error(y_test, result)
r2 = r2_score(y_test,result)
#//*** Root Mean squared Error
rmse = sqrt(mse)
print(f"Complete: {round(time.time()-start_time,2)}" )

print(f"rmse: {rmse}")
print(f"r2: {r2}")

In [ ]:
display_size = 40

fig,ax = plt.subplots()
plot_x = np.arange(len(y_test))
ax.plot(plot_x,y_test )
ax.scatter(plot_x,result,color='red' )


    #plt.legend(loc='upper right',bbox_to_anchor=(1.35, 1.2))
plt.show()

In [ ]:
for x in range(len(pca.explained_variance_ratio_)):
    print(x, pca.explained_variance_ratio_[x])

In [ ]:
y_train